#left {
  float: left;
  width: 50%;
}

#right {
  float:right;
  width: 50%;
}
body {
  font-family: 'Inconsolata', serif;
  font-size: 20px;
  height: 100%;
  width: 100%
}

#canvas {
  float:left;
  padding-left: 20px;
  min-width:700px;
  min-height:700px;
}

#instructions {
  float: right;
  text-align: left;
  margin-right: 25px;
  float:left;
  padding-left: 20px;
}

.main-container{
  background-color: black;
  color:white;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}
