<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
      <link rel="stylesheet" type="text/css" href="/css/donkeyKong.css">
      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Inconsolata">
      </head>
      <body>
        <div class="main-container">


			{{ content }}

			</div><!-- /.container -->
    </div>

      <script type="text/javascript" src='./js/bundle.js'></script>
      
		</body>
	</html>
